.editContactsButton {
    display: block;
    margin: 0 auto;
    font-size: 10px;
}
.formFields{
    display: flex;
    flex-direction: column;
}
.formFields input {
    width: 80px;
}
.spanInputBlock *{
    margin: 2px;
}
.contactsTitle {
    text-align: center;
    font-weight: bolder;
}